*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

:root{
    --dk-violet: hsl(268, 75%, 9%);
    --lt-violet: hsl(268, 47%, 21%);
    --lt-violet2: hsl(281, 89%, 26%);
    --vb-violet: hsl(285, 91%, 52%);
    --vb-violet2: hsl(290, 70%, 36%);
    /* hsl(219.91deg 86.62% 45.12%) */
    --vb-yellow: hsl(52, 100%, 62%);
  
  
    --pl-white: hsl(0, 0%, 100%);
  
    --vb-cyan: hsl(176, 100%, 44%);
    --vb-cyan2: hsl(177, 92%, 70%);
    --dk-text: hsl(198, 20%, 13%);
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(90deg, rgba(40, 40, 103, 1) 0%, rgba(72, 9, 82, 0.95) 97%);; */
    background: linear-gradient(90deg, rgba(38, 203, 189, 1) 0%, rgba(24, 76, 209, 1) 100%);

}
.container{
    width: 90%;
    max-width: 450px;
}

h1 {
    color: rgb(7, 4, 145);
    opacity: 0.75;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 2px;
}

.display-container{
position: relative;
background-color: hsl(237.06deg 98.62% 9.03%);
border-bottom: 0.35rem solid hsl(253.48deg 100% 31.17%) ;
margin: 1rem 0;
padding-top: 0.35rem;
border-radius: 1rem;


}
.display{
    width: 100%;
    background-color: transparent;
    color: hsl(185.56deg 100% 48.97%);;
    padding: 1.5rem 1rem;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 30px;
    letter-spacing: 1px;
    padding-right: 3.25rem;
    /* text-transform: uppercase; */
    border: none;
}

.display::placeholder{
    position: absolute;
    top: 50%;
    left: 1.5rem;
    font-size: 1.5rem;
    line-height: 30px;
    color: hsl(185.56deg 94.92% 48.05%);;
    opacity: 0.65;
    text-transform: uppercase;
    transform: translateY(-50%);

    
}

.display-container button{
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
}

.input-container{
    width:100%;
    background-color:hsl(237.06deg 98.62% 9.03%);
    border-radius: 1rem;
    padding: 2rem;
    border-bottom: 0.35rem solid  hsl(253.48deg 100% 31.17%);
}


.length-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.length-container p:nth-child(1) {
    color:var(--pl-white);
    font-size: 1.5rem;
}


.length-container p:nth-child(2) {
    color:hsl(126.82deg 73.05% 53.43%);
    font-size: 1.5rem;
}


.strength-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.75rem;
    margin-bottom: 2rem;
}


.strength-container p{
    color:var(--pl-white);
    font-size: 1.5rem;
}

.indicator {
    width:1.5rem;
    height:1.5rem;
    border-radius:50%;
}

.generateButton {
    width: 100%;
    padding: 1rem 0;
    background:  linear-gradient(90deg, rgba(2,0,36,1) 22%, rgba(17,128,243,1) 77%, rgba(0,212,255,1) 100%);
    text-align: center;
    border-radius: 0.75rem;
    border-bottom: 0.35rem solid hsl(204.81deg 47.45% 30.18%);;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: hsl(34.51deg 74.84% 59.58%);;
    font-weight: 600;
    font-size: 1.25rem;
  }

.check {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    gap: 0 1rem;
}

.check input{
    appearance: none; /* by default browser style we don't need */
    width: 20px;
    height: 20px;
    border: 1px solid var(--vb-cyan);
    cursor: pointer;
    position: relative;
    border-radius: 0.35rem;
}


.check input:checked{
    background-color: var(--vb-cyan);
}


.check input:checked::before {
    content: '✔';
    position: absolute;
    color: var(--dk-text);
    font-size:1.05rem;
    font-weight: 600;
    left:50%;
    top:-3.5px;
    transform: translateX(-50%)  translateY(5%);
}

.check label {
    color: var(--pl-white);
    font-size: 1.25rem;
    letter-spacing: 0.75px;
}

.copyBtn{
    background-color: transparent;
    border:none;
    outline:none;
}

.tooltip {
    position: absolute;
    background-color: var(--vb-violet2);
    color: var(--vb-yellow);
    font-size: 1.25rem;
    top: -35px;
    left: -25px;
    padding: 5px 10px;
    border-radius: 1rem;
    opacity: 0;
    transform: scale(0);
    transform-origin: bottom;
    transition: all 250ms ease-in-out;
  }
  
  .tooltip.active {
    opacity: 1;
    transform: scale(1);
  }

.slider{
    appearance: none;
    width:100%;
    height: 0.75rem;
    cursor: pointer;
    background-color: hsl(236.22deg 57.54% 77.17%);
    border-radius: 1rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17,17,243,1) 35%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat;
    border:none;
    outline:none;
    z-index:-1;
}

.slider::-webkit-slider-thumb { 
    position:relative;
    z-index:1;
    appearance: none;
    height:2rem;
    width:2rem;
    border-radius: 50%;
    background-color: rgb(43, 175, 219);
    cursor:pointer;
    margin-top: -3px;
    box-shadow: 0px 0px 20px 0px rgba(255, 229, 61, 0.50);
    transition: all 100ms ease-in;
}

.slider:focus{ 
    outline: 3px solid #559ff3;
}

.slider::-webkit-slider-thumb:hover{
    outline: 2px solid rgb(12, 92, 241);
    background-color: var(--dk-violet);
    box-shadow: 0px 0px 25px 5px rgba(14, 96, 92, 0.8);
}

